*.jpg filter=lfs diff=lfs merge=lfs -text
images/*.jpg filter=lfs diff=lfs merge=lfs -text
videos/*.mp4 filter=lfs diff=lfs merge=lfs -text
audios/clint-eastwood-audio_id000013_100100.mp3 filter=lfs diff=lfs merge=lfs -text
audios/simba-lion-king-audio_id000005_010000.mp3 filter=lfs diff=lfs merge=lfs -text
audios/star-wars-yoda_id000004_000000.mp3 filter=lfs diff=lfs merge=lfs -text
audios/the-beatles-here-comes-the-sun-2_id000017_100100.mp3 filter=lfs diff=lfs merge=lfs -text
audios/parrot-audio-1_id000012_010000.mp3 filter=lfs diff=lfs merge=lfs -text
audios/bass-guitar-cover_id000011_100100.mp3 filter=lfs diff=lfs merge=lfs -text
audios/beck-loser-1_id000007_100100.mp3 filter=lfs diff=lfs merge=lfs -text
audios/beck-loser-2_id000010_100100.mp3 filter=lfs diff=lfs merge=lfs -text
audios/dog-howl_id000019_010000.mp3 filter=lfs diff=lfs merge=lfs -text
audios/drum-lick_id000014_100100.mp3 filter=lfs diff=lfs merge=lfs -text
audios/family-guy-peter-griffin-laugh_id000016_100100.mp3 filter=lfs diff=lfs merge=lfs -text
audios/maureen-ohara-mclintock_id000021_100000.mp3 filter=lfs diff=lfs merge=lfs -text
audios/raymond-burr-perry-mason-audio_id000003_100100.mp3 filter=lfs diff=lfs merge=lfs -text
audios/the-beatles-here-comes-the-sun-1_id000009_100100.mp3 filter=lfs diff=lfs merge=lfs -text
audios/barry-fitzgerald-the-quiet-man_id000008_100100.mp3 filter=lfs diff=lfs merge=lfs -text
audios/family-guy-louis-griffin_id000001_100000.mp3 filter=lfs diff=lfs merge=lfs -text
audios/john-wayne-audio_id000020_100100.mp3 filter=lfs diff=lfs merge=lfs -text
audios/nicki-minaj-audio_id000018_100000.mp3 filter=lfs diff=lfs merge=lfs -text
audios/steve-harvey-audio_id000006_100100.mp3 filter=lfs diff=lfs merge=lfs -text
audios/cat-meow_id000015_010000.mp3 filter=lfs diff=lfs merge=lfs -text
audios/lord-of-the-ring-smeagol-my-precious_id000002_100100.mp3 filter=lfs diff=lfs merge=lfs -text
